:root {
    --block-border: 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #18191c;
    font-family: 'comfortaa', sans-serif;
    min-height: 100vh;
}
hr {
    color: white;
}
strong {
    color: #b39ddb;
}

a {
    color: inherit;
    /*text-decoration: underline;*/
}

a:hover {
    transition: 50ms;
    color: white;
}

ol {
    list-style-type: none; /* Убираем исходные маркеры */
    counter-reset: num; /* Задаём имя счетчика */
    padding-left: 10px;
}
ol li::before {
    content: counter(num) '. '; /* Выводим число */
    counter-increment: num; /* Увеличиваем значение счётчика */
    color: var(--additional, #B39DDB);
    font-weight: bolder;
}

div.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
    background: #18181c;
    z-index: 9999;
}
div.preloader .penguin {
    width: 200px;
    height: 200px;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}
div.preloader_disable {
    display: none;
}
div.header {
    position: relative;
    width: 100%;
    height: 50px;
    max-height: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    align-content: center;
    z-index: 999;
}
div.header .logo {
    padding: 0 5px;
    margin-left: 45px;
    transition: 0.7s ease-in-out;
    user-select: none;
}
div.header .logo_active {
    margin-left: 345px;
}
div.header .menu-button {
    padding: 5px;
    margin-right: 45px;
    cursor: pointer;
    transition: 0.3s;
}
div.header .menu-button span, div.header .menu-button span::before, div.header .menu-button span::after {
    display: block;
    margin-top: -2px;
    width: 25px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    transition: 0.3s;
}
div.header .menu-button:hover span, div.header .menu-button:hover span::before, div.header .menu-button:hover span::after {
    background-color: rgba(255, 255, 255, 1);
}
div.header .menu-button span::before, div.header .menu-button span::after {
    content: ''}
div.header .menu-button span::before {
    transform: translatey(-6px);
}
div.header .menu-button span::after {
    transform: translatey(6px);
}
div.header .menu-button_active span {
    height: 0;
}
div.header .menu-button_active span::before {
    transform: rotatez(-45deg);
}
div.header .menu-button_active span::after {
    transform: rotatez(45deg);
}
div.navigation {
    position: fixed;
    top: 0;
    left: -350px;
    width: 300px;
    height: 100vh;
    background-color: #161619;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    transition: 1s ease-in-out;
    z-index: 999;
}
div.navigation .title {
    width: 100%;
    line-height: 50px;
}
div.navigation .title h2 {
    margin: 0;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
    cursor: default;
    user-select: none;
    margin-top: 15px;
}
div.navigation nav.nav {
    margin-top: 30px;
    width: 100%}
div.navigation nav.nav ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
}
div.navigation nav.nav li {
    padding: 10px 0;
    padding-left: 20px;
    width: calc(100% - 20px);
    transition: 0.2s;
}

div.navigation nav.nav i {
    margin-right: 5px;
}

div.navigation nav.nav a {
    width: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 0.9em;
    text-decoration: none;
}
div.navigation nav.nav li:hover {
    border-left: 3px solid #512da8;
}
div.navigation_active {
    left: 0;
}
div.main {
    position: relative;
    width: 100%;
    z-index: 10;
}
.sup-title {
    text-align: center;
    transition: 0.7s;
    margin-bottom: 30px;
}
.sup-title h1 {
    margin: 0;
    padding-top: 20vh;
    color: rgba(255, 255, 255, 0.9);
    font-size: 3em;
    font-weight: 700;
    cursor: default;
    user-select: none;
}
.sup-title h1 span {
    color: #512da8;
}
.sub-title {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    transition: 0.7s;
}

div.main .sub-title .version, div.main .sub-title .online {
    user-select: none;
}
div.main .sub-title i {
    color: #fff;
    font-style: normal;
}
div.main .sub-title .ip {
    margin: 0 10vh;
}
div.particle {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    z-index: -100;
}
div.particle .item {
    width: 39px;
    height: 39px;
    background-position: center center;
    background-size: cover;
    opacity: 0.6;
}
div.particle .item-circle {
    background-image: url(../img/particle/default-01.png);
}
div.particle .item-cross {
    background-image: url(../img/particle/default-02.png);
}
div.particle .item-cube {
    background-image: url(../img/particle/default-03.png);
}
div.particle .item-triangle {
    background-image: url(../img/particle/default-04.png);
}
div.particle .item-anim-1 {
    background-image: url(../img/particle/purple-01.png);
    margin-top: 30vh;
    animation: particleanimationitem1 5s infinite ease-in-out;
}
div.particle .item-anim-2 {
    margin-top: 60vh;
    transform: rotatez(-10deg);
    animation: particleanimationitem2 10s infinite ease-in-out;
}
div.particle .item-anim-3 {
    background-image: url(../img/particle/purple-02.png);
    animation: particleanimationitem3 11s infinite ease-in-out;
}
div.particle .item-anim-4 {
    margin-top: 90vh;
    animation: particleanimationitem4 15s infinite ease-in-out;
}
div.particle .item-anim-5 {
    background-image: url(../img/particle/purple-03.png);
    animation: particleanimationitem5 12s infinite ease-in-out;
}
div.particle .item-anim-6 {
    animation: particleanimationitem6 9s infinite ease-in-out;
}
div.particle .item-anim-7 {
    background-image: url(../img/particle/purple-02.png);
    margin-top: 80vh;
    animation: particleanimationitem7 13s infinite ease-in-out;
}

.status {
    font-size: 10px;
    cursor: pointer;
}

.sub-text {
    color: grey;
}

.text-underline {
    border-bottom: 3px #5446a9 solid;
}

a.dis-link {
    color: gray;
    pointer-events: none;
}


.sidebar-block {
    position: sticky;
    top: 0;
    color: white;
    border: var(--block-border, 1px) solid #fff;
    z-index: 10;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    margin-top: 20px;
    padding: 10px;
}

.monitoring {
    color: white;
}

.monitoring span {
    font-size: 1.3em;
    font-weight: 700;
    display: block;
}
.monitoring i {
    color: #fff;
}

section, .blockcontent, footer {
    margin-top: 20px;
    color: white;
    padding: 20px;
    border: var(--block-border, 1px) solid #fff;
    background: rgba(255, 255, 255, 0.05);
    /*overflow: hidden;*/
}

footer {
    border-top: var(--border-primary, 3px solid #512da8);
}

.blockcontent-list {
    color: white;
    margin-top: 10px;
    border: var(--block-border, 1px) solid #fff;
    margin-bottom: 20px;
}

.blockcontent-list .head {
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 3px solid var(--primary, #512da8);
    padding: 5px 5px 5px 10px;
    font-weight: bolder;
    font-size: 1.2em;
}

.blockcontent-list .body {

}

.blockcontent-list .element, .blockcontent-list .title {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    margin: 2px 0;
}

.blockcontent-list .element span {
    display: inline-block;
    padding: 0 5px;
    margin-right: 5px;
    min-width: 30px;
    font-weight: bolder;
    background: var(--primary, #512da8);
}
.blockcontent-list .sub-category {
    margin-top: 10px;
}

.blockcontent-list small {
    color: #ff6859;
    font-weight: bolder;
}

.blockcontent-hover:hover {
    transition: 500ms;
    background: rgba(255, 255, 255, 0.1);
}

.blockcontent-title {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.blockcontent-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.blockcontent-grid > .blockcontent,
.blockcontent-grid > section {
    display: block;
}

.profile-username {
    font-size: 2em;
    margin-bottom: 0;
}

.report-info {
    display: block;
}

.blockserver {
    border-left: 1px solid #fff;
}

.pm-card-server-name {
    font-weight: bolder;
}

.pm-card-server-addr {
    font-weight: bolder;
    font-size: 0.8em;
}

.card-b {
    margin-bottom: 30px;
}

.radio-image[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.preloader-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1vw;
}

.preloader-grid > .preloader-block {
    width: 100%;
}

.card-text {
    height: 100px;
}

/* MENU ITEMS */
.tasks-wrapper{
    overflow: hidden;
    width: 100%;
    padding: 0 0 10px;
    color: white;
}
.task{
    box-sizing: border-box;
    padding: 10px 15px;
    width: 100%;
    color: white;
    cursor: grab;
}

.task, .task-title, .task-hr{
    background: #161619;
}

.task-title {
    padding: 15px;
}

.task-hr {
    padding: 1px 15px;
}

.over {
    position: relative;
}
.over:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left:0;
    right: 0;
    height:5px;
    background: red;
}

/* IMAGE STYLES */
.radio-image[type=radio] + img {
    cursor: pointer;
    width: 100%;
}

.radio-image[type=radio] + img:hover, .preloader-load:hover {
    border-radius: 7px;
    background: var(--rgba-background, rgba(255, 255, 255, 0.04));
}

/* CHECKED STYLES */
.radio-image[type=radio]:checked + img {
    border-radius: 7px;
    border: var(--border-primary);
    background: var(--rgba-background, rgba(255, 255, 255, 0.05));
}

label.preloader-load {
    height: calc(100% - 0.5rem);
    border-radius: 7px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.02);
}

.preloader-load[type=file] {
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1;
}

.prewiev-content {
    position: sticky;
    top: 10px;
}

#bgPreview {
    height: 380px;
    padding: 30px 0 10px;
}

#bgPreview > .preview-block {
    margin: 5px auto;
    background: rgba(255, 255, 255, 0.05);
    width: 350px;
}

#bgPreview > .preview-block:nth-child(1) {height: calc(30% - 10px);}
#bgPreview > .preview-block:nth-child(2) {height: calc(65% - 10px);}
#bgPreview > .preview-block:nth-child(3) {height: calc(5%);}

#menuItemText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/*.table-def {*/
/*    width: 100%;*/
/*    font-size: 1.2em;*/
/*}*/

/*.table-def tr {*/
/*}*/

/*.table-def td {*/
/*    border-spacing: 2px 2px;*/
/*}*/

@media (max-width:1024px) {

}
@media (max-width:768px) {
    div.header .logo {
        margin-left: 5px;
    }
    div.header .logo_active {
        margin-left: 5px;
    }
    div.header .menu-button {
        margin-right: 20px;
    }

    .blockcontent-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .profile-header {
        text-align: center;
    }
    .report-info {
        display: flex;
        margin-top: 10px;
    }
    .report-info-block {
        width: 50%;
    }
    .preloader-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:425px) {
    div.header .menu-button {
        margin-right: 5px;
    }
    div.navigation {
        width: calc(100% - 45px);
        left: -100%}
    div.navigation_active {
        left: 0;
    }
    div.main {
        z-index: 0;
    }
    div.main .sup-title_active, div.main .sub-title_active {
        margin-left: 0;
    }
    div.donate .type-credits .title h2, div.donate .type-privilage .title h2, div.donate .select-type .title h2 {
        padding-left: 10px;
        font-size: 1.2em;
    }
    div.links {
        margin-top: 10vh;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    div.links .item {
        margin-top: 5vh;
    }
    div.links a {
        margin-top: 5vh;
    }
    div.particle .item {
        width: 20px;
        height: 20px;
    }
}
@media (max-width:320px) {
    div.header .menu-button {
        margin-right: 5px;
    }
    div.navigation {
        width: calc(100% - 50px);
    }
    div.main .sub-title .ip {
        margin: 0 5vw;
    }
    div.main .sub-title span {
        font-size: 1em;
    }
    div.donate .type a {
        padding: 10px 20px;
    }
}


@keyframes particleanimationitem1 {
    50% {
        margin-top: 50vh;
    }
}
@keyframes particleanimationitem2 {
    50% {
        margin-top: 10vh;
        transform: rotatez(10deg);
    }
}
@keyframes particleanimationitem3 {
    50% {
        margin-top: 80vh;
        margin-right: 20px;
        transform: rotatez(90deg);
    }
}
@keyframes particleanimationitem4 {
    50% {
        margin-top: 30vh;
    }
}
@keyframes particleanimationitem5 {
    50% {
        margin-top: 80vh;
        transform: rotatez(10deg);
    }
}
@keyframes particleanimationitem6 {
    50% {
        margin-top: 80vh;
        margin-right: 10px;
        transform: rotatez(90deg);
    }
}
@keyframes particleanimationitem7 {
    50% {
        margin-top: 5vh;
        transform: rotatez(360deg);
    }
}
